*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* Star header  */
header {
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
.header__logo{
    font-size: 36px;
    color: white;
}
.header__logo i{
    font-size: 50px;
    color: green

}
header .nav-item .nav-link{
    color: white;
    margin: 0 20px;
    transition: 0.5s;
    position: relative;
}
header .nav-item .nav-link:hover{
    color: green
}
header .nav-link::after{
    content: "";
    width: 0;
    height: 3px;
    display: block;
    background: green;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}
header .nav-link:hover::after{
    width: 100%;
}
header #home{
    color: green;   
}
header #home::after{
    content: "";
    width: 100%;
    height: 3px;
    display: block;
    background: green;
    position: absolute;
    left: 0;
    bottom: 0;
}


/* CAROUSEL  */
#portfolio__carousel .carousel-caption{
    bottom: 50%;
    transform: translateY(50%);
}
#portfolio__carousel  .carousel-caption img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}
#portfolio__carousel .carousel-indicators li{
    border-radius: 50%;
    width: 15px;
    height: 15px;
}
#portfolio__carousel .carousel-indicators {
    bottom: 30px;
}
#portfolio__carousel .carousel-item{
    position: relative;
    height: 100vh;
}
#portfolio__carousel .carousel-item::after{
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: block;
}
#portfolio__carousel .carousel-indicators .active{
    background-color: orange;
}
#portfolio__carousel .carousel-item h5{
    font-size: 56px;
    line-height: 65px;
}
#portfolio__carousel .carousel-item p{
    font-size: 24px;
}

/* STAR PROJECT  */
#portfolio__project{
    margin: 50px 0px;
}
#portfolio__project h3{
    font-size: 36px;
    line-height: 42px;
    color: #1a1d2d;
    font-weight: 600;
    margin-bottom: 20px;
}
#portfolio__project .p__title{
    margin-bottom: 40px;
}
#portfolio__project .nav{
    justify-content: center;
}
#portfolio__project .project__item .card{
    overflow: hidden;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#portfolio__project .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: green;
    border-color: green;
    color: white;
}
#portfolio__project .nav-pills .nav-link{
    color: black;
    border: 1px solid red;
    margin: 0 10px;
}
#portfolio__project .card-body{
    border: 2px solid transparent;
    border-radius: 16px;
    border-top: none;
    border-top-left-radius: 0px ;
    border-top-right-radius: 0px;
    transition: 1s;
}
#portfolio__project .project__item:hover .card-body{
    border-color: green;
}

/* STAR AVAILABLE  */
.available{
    background-image: url(./image/3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.available__container{
    background: rgba(7,10,12,.72);
    width: 100%;
    height: 100%;
    padding: 100px 0px;
}
.available__title{
    text-align: center;
}
.available__title h2{
    text-align: center;
    font-size: 36px;
    line-height: 42px;
    color: white;
    font-weight: 600;
    margin-bottom: 30px;
}
.available__title p{
   line-height: 24px;
   color: white;
   margin-bottom: 30px;
}
.available__item .card{
    background: rgba(255,255,255,.1);
    backdrop-filter: blur(3px);
    transition: 0.5s;
    text-align: center;
    padding: 40px 0;
    border-radius: 15px;
}
.available__item .card:hover{
    background-color: black;
}
.available__item i{
    font-size: 48px;
    color: #35a22c;
    font-weight: 900;
}
.available__item h6{
    font-size: 20px;
    color: white !important;
    line-height: 30px;
    margin: 25px 0px;
    font-weight: 800;
}
.available__item p{
    padding-top: 15px;
    font-size: 16px;
    line-height: 24px;
    color: white;
}

/* INTRO  */
.intro{
    position: relative;
    padding: 80px 0px;
}
.intro .intro__background{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(./image/memphis_3.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 50% auto;
    opacity: 0.5;
    top: 0;
    left: 0;
} 

.intro__card{
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}
.intro__card .card{
    padding: 30px 20px;
    border: none;
    background: rgba(255,255,255,.25);

}
.intro__card h5{
    font-size: 36px;
    line-height: 42px;
    color: #1a1d2d;
    font-weight: 600;
}
.intro__card p{
    color: #585858;
    line-height: 24px;
}
.intro__content{
    padding-left: 40px;
    height: 70%;
    margin: auto 0px;
}
.intro__content .intro__img{
    margin-right: 20px;
}
.intro__content .intro__img img{
    width: 130%;
    height: 110%;
}
/* FOOTER  */
.footer{
    text-align: center;
    background-color: #222;
    margin-bottom: -20px;
   
}
.footer__top{
    padding: 30px 0px;
    border-bottom: 2px #aaa solid;
}
.footer__top i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #aaa;
    border-radius: 100%;
    border: 1px #aaa solid ;
    margin: 5px;
    transition: 0.2s;
}
.footer__top i:hover{
    border-color: #35a22c;
    color: #35a22c;
}
.footer__bot p{
    color: #aaa;
    line-height: 1.5;
    padding: 40px 0px;
}